footer#footer
    .columns
        .column.is-half.is-offset-one-quarter
            .level
                .level-item: a="Reviews"
                .level-item: a="News"
                .level-item: a="Features"
                .level-item: a="Podcast"
                .level-item: a="About"
                .level-item: a="JOY 94.9"
    //- .columns                
    //-     .column.is-6.has-text-right
    //-         a="Review Policy"
    //-     .column.is-6.has-text-left
    //-         a="Privacy Policy"
    .columns
        .column.is-half.is-offset-one-quarter
            p='© 2016-2019 Checkpoint Gaming. Checkpoint is supported by JOY 94.9, Australia\'s only LGBTI community radio station.'
            p='Passionately crafted and hosted by '
                a.verv(href='https://www.vervcreations.com.au/')= 'verv creations'