.swiper-container
    .swiper-wrapper
        .swiper-slide
            .container.is-fluid
                h1= "Slide 1"
                h4= "Slide Byline goes here"
        .swiper-slide
            .container.is-fluid
                h1= "Slide 2"
                h4= "Slide Byline goes here"
        .swiper-slide
            .container.is-fluid
                h1= "Slide 3"
                h4= "Slide Byline goes here"
        .swiper-slide
            .container.is-fluid
                h1= "Slide 4"
                h4= "Slide Byline goes here"
        .swiper-slide
            .container.is-fluid
                h1= "Slide 5"
                h4= "Slide Byline goes here"
        .swiper-slide
            .container.is-fluid
                h1= "Slide 6"
                h4= "Slide Byline goes here"
    .swiper-button-prev
    .swiper-button-next