meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
link(rel='stylesheet',href='//fonts.googleapis.com/css?family=Poppins:500,600,700|Fira+Sans&display=swap') 
link(rel='stylesheet',href='css/checkpoint.css')
link(rel='stylesheet',href='//cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css')
script(defer,src='//kit.fontawesome.com/a826d5e98e.js')
script(defer,src='js/checkpoint-min.js')