header#header.header
    nav.navbar(role='navigation', aria-label='main navigation')
        .container
            .navbar-brand
                a.navbar-item(href='index.html')
                    img(src='images/logo.svg', width='177', height='38', alt='Checkpoint Logo')

                a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='checkpointMenu')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                    span(aria-hidden='true')
                
            #checkpointMenu.navbar-menu
                .navbar-start
                    a.navbar-item.reviews= "Reviews"
                    a.navbar-item.news= "News"
                    a.navbar-item.e3= "E3"
                    a.navbar-item.features= "Features"
                    a.navbar-item.podcast= "Podcast"
                    a.navbar-item.checkpoint= "About"
                    a.navbar-item.checkpoint= "JOY 94.9"
                .navbar-end
                    .level.is-mobile
                        span.navbar-item.level-item.has-text-centered: a.icon.icon-search: i.fas.fa-search
                        span.navbar-item.level-item.has-text-centered: a.icon.icon-facebook: i.fab.fa-facebook-square
                        span.navbar-item.level-item.has-text-centered: a.icon.icon-twitter: i.fab.fa-twitter-square
                        span.navbar-item.level-item.has-text-centered: a.icon.icon-rss: i.fas.fa-rss-square