doctype html
html
    head
        title= "Checkpoint Gaming Demonstration"
        include _head.jade
    
    body.is-pride
        include _navigation.jade
        include _header.jade
        block content
        include _footer.jade