doctype html
html
    head
        title= "Checkpoint Gaming Demonstration"
        include _head.jade
    
    body
        include _navigation.jade
        block hero
        block content
        include _footer.jade

        script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
        script.
            var mySwiper = new Swiper ('.swiper-container', {
                // Optional parameters
                loop: true,
                // Autoplay:
                autoplay: {
                    delay: 4000,
                    disableOnInteraction: false,
                },
                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });