section.podcast
    header
        h6.small= "Radio"
    main
        h5.has-text-centered= "Tune in every week!"

section.podcast
    header
        h6.small= "Podcast"
    main
        audio(preload='none', controls='controls')
            source(src='http://media.rawvoice.com/joy_checkpoint/s/joy.org.au/checkpoint/wp-content/uploads/sites/330/2019/03/20190321-Checkpoint-The-State-of-LGBT-Gaming-Today.mp3?_=1')