h2 Featured Content

#featuredTiles.tile.is-ancestor
    -var n = 0;
    .tile.is-parent
        while n < 2
        article.tile.is-child.box
            .titleCard
                p.title="This is article" + n++ + " and it's a long title!!"

//- h2 Everything Else
//- .tile.is-ancestor
//-     -var n = 0;
//-     while n < 32
//-         article.tile.is-child.is-4
//-             .titleCard
//-                 h4= "This is header " + n++ + " and it's got a super super long title"

//- | <div class="tile is-ancestor">
//- |   <div class="tile is-vertical is-8">
//- |     <div class="tile">
//- |       <div class="tile is-parent is-vertical">
//- |         <article class="tile is-child notification is-primary">
//- |           <p class="title">Vertical...</p>
//- |           <p class="subtitle">Top tile</p>
//- |         </article>
//- |         <article class="tile is-child notification is-warning">
//- |           <p class="title">...tiles</p>
//- |           <p class="subtitle">Bottom tile</p>
//- |         </article>
//- |       </div>
//- |       <div class="tile is-parent">
//- |         <article class="tile is-child notification is-info">
//- |           <p class="title">Middle tile</p>
//- |           <p class="subtitle">With an image</p>
//- |           <figure class="image is-4by3">
//- |             <img src="https://bulma.io/images/placeholders/640x480.png">
//- |           </figure>
//- |         </article>
//- |       </div>
//- |     </div>
//- |     <div class="tile is-parent">
//- |       <article class="tile is-child notification is-danger">
//- |         <p class="title">Wide tile</p>
//- |         <p class="subtitle">Aligned with the right tile</p>
//- |         <div class="content">
//- |           <!-- Content -->
//- |         </div>
//- |       </article>
//- |     </div>
//- |   </div>
//- |   <div class="tile is-parent">
//- |     <article class="tile is-child notification is-success">
//- |       <div class="content">
//- |         <p class="title">Tall tile</p>
//- |         <p class="subtitle">With even more content</p>
//- |         <div class="content">
//- |           <!-- Content -->
//- |         </div>
//- |       </div>
//- |     </article>
//- |   </div>
//- | </div>