extends ./_template.jade

block content
    section#content.section
        .container
            .columns
                main.column.is-12
                    h2= "Test of Icons"
                    svg(role='img').twitter
                        use(xlink:href='images/sprites.svg#Twitter')