extends ./_template.jade

block content
    section#content.section
        .container.is-fluid
            .columns
                main.column.is-three-quarters
                    include home-grid.jade
                
                aside.column.is-one-quarter
                    include _sidebar.jade