// Fonts:
$headerFontStack: "Poppins", sans-serif;
$bodyFontStack: "Fira Sans", sans-serif;

// Colours:
$gray: #bebebe;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$blue: blue;
$purple: #a000c0;
$facebook: #3c5a99;
$twitter: #1da1f2;
$rss: #ee802f;
$verv: #f58220;
$orange: rgb(255, 168, 0);
$pink:rgb(248, 35, 154);
$lightBlue: rgb(20, 147, 253);
$transparent: rgba(255,255,255,0);
$textShadow: rgba(0, 0, 0, 0.45);

// Sizes:
$heroHeight: 800px;
$borderRadius: 15px;

// Checkpoint Colours:
$reviews: #ffa800;
$news: #f8239a;
$e3: $red;
$features: #02d023;
$podcast: #1493fd;

$checkpoint: (
  reviews: $reviews,
  news: $news,
  e3: $red,
  features: $features,
  podcast: $podcast
);

// Modular Scale Configuration:
$modularscale: (
  base: 1em 1140em 12em,
  ratio: 1.618
);

// Gradients:
$prideGradient: linear-gradient(90deg, $red, $orange, $yellow, $green, $blue, $purple);
$quoteGradient: linear-gradient(315deg, $orange, $pink);
$whiteBottomUp: linear-gradient(to bottom, $transparent 0%, $white 100%);

// Card backgrounds:
$defaultLightness: +95%;
$defaultCardGradient: linear-gradient(285deg, scale-color($color: $red, $lightness: $defaultLightness), 
                                              scale-color($color: $orange, $lightness: $defaultLightness), 
                                              scale-color($color: $yellow, $lightness: $defaultLightness), 
                                              scale-color($color: $green, $lightness: $defaultLightness), 
                                              scale-color($color: $blue, $lightness: $defaultLightness), 
                                              scale-color($color: $purple, $lightness: $defaultLightness));

$reviewCardGradient: linear-gradient(0deg, scale-color($color: $reviews, $lightness: +80%), scale-color($color: $reviews, $lightness: $defaultLightness));