html, #footer {
    background: $black-ter;
}

#header {
    background: $white-bis;
    border-bottom: 1px solid $grey-lighter;
}

#content, #hero {
    width: 100%;
    background: $white;
}

#footer {
    font-size: ms(-1);
    text-align: center;
}

#footer a, #footer a:link {
    color: $white !important;
    text-transform: uppercase;    
}

#footer a:hover {
    color: $gray !important;
}

#footer a.verv {
    text-transform: lowercase;
    color: $verv !important;
}

// Tiles
article.tile {
    @include card;
    @include scaleEaseOut;
}

article.tile:hover {
    @include scaleEaseOut;
}

article.tile .titleCard {
    // text-align: center;
    // position: absolute;
    // padding: 10px;
    // bottom: 0;
    // left: 0;
    // right: 0;
}

// Twitter Tweets
.twitter-tweet {
    @include card;
    @include cardWithStamp('twitter');
}

// Reviews
main#review img.is-pulled-left {
    padding: 0 1rem 1rem 0;
}

main#review img.is-pulled-right {
    padding: 0 0 1rem 1rem;
}

// Hero Images on Reviews:
.heroHeaderImage {
	height: $heroHeight;
    z-index: -1;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.heroHeaderImage:after {
	background: $whiteBottomUp;
	width: 100%;
	height: $heroHeight;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: " ";
}

.hasHeroImage {
    margin-top: -$heroHeight/3;
}

// Quotes
main#review .quotation {
    max-width: 50%;
    box-shadow: none;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    background: $quoteGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

main#review .quotation .card-content .title {
    margin-bottom: 0;
    font-weight: 500;
}

// Summary Box:
#summary {
    @include card;
    @include textShadow;
    margin: ms(2) 0 ms(6) 0;
    background-size: cover;
    font-family: $headerFontStack;
    color: white;

    > .level {
        display: flex;
        align-items: stretch;
        margin-bottom: 0;
    }

    #for, #against {
        font-size: ms(1);
        li {
            margin-top: ms(-2);
            margin-bottom: ms(-2);
            font-size: ms(2)*0.9;
            font-weight: bold;
        }
    }

    #for {
        background: fade-out($lightBlue, 0.15);
        border-top-left-radius: $borderRadius;
    }

    #against {
        background: fade-out($pink, 0.15);
        border-top-right-radius: $borderRadius;
    }

    #overall {
        background: fade-out($black, 0.15);
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
    }
}

// Final Verdict:
#finalVerdict {
    @include card;
    @include cardWithStamp('review');
    
    font-size: larger;
}

#finalVerdict p:last-child {
    margin-bottom: 0;
}

// Author Box
article#author .content p.subtitle {
    text-transform: uppercase;
    font-size: ms(-1);
    margin: 0;
    padding: 0;
    font-family: $headerFontStack;
}

article#author .content h3 {
    margin-top: 0;
}

article#author img {
    // mask: url(../images/source/Pointer.svg) top left / cover;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}