@mixin card {
    border-radius: $borderRadius;
    box-shadow: rgba(51, 51, 51, 0.2) 0px 3px 15px 0px;
}

@mixin scaleEaseIn {
    transition-timing-function: ease-in;
    transition: 0.2s;
    transform: scale(1.1);
}

@mixin scaleEaseOut {
    transition-timing-function: ease-in;
    transition: 0.2s;
    transform: scale(1);
}

@mixin textShadow {
    text-shadow: $textShadow 1px 1px 2px;
}

@mixin cardWithStamp($style: default) {
    // Basic Styles for Cards that have stamps:
    padding: ms(3);

    @if $style == review {
        background: $reviewCardGradient;
    } @else if $style == double {
        // Double code
    } @else {
        background: $defaultCardGradient;
    }

    // Check for twitter style:
    @if $style == 'twitter'{
        
    }

    .content:before {
        content: "";
        position: relative;
        left: 0;
        top: 1;
        z-index: 100;
        width: 100%;
        height: 100%;
        // background: url("../images/checkpoint-cross.svg");
        background: red;
    }
}