.navbar-item img {
    max-height: 3rem !important;
}

.navbar-start .navbar-item {
    font-family: $headerFontStack;
    text-transform: uppercase;
    letter-spacing: -.03em;
    box-sizing: border-box;
}

@each $area, $color in $checkpoint {
    .navbar-start .navbar-item.#{$area}:hover {
        color: $color !important;
        border-bottom: 2px solid $color;
    }
}

// Checkpoint hover:
.navbar-item.checkpoint:hover {
    border-bottom: 2px solid white;
    border-image-slice: 0 0 2 0;
    border-image-width: 0px 0px 2px 0px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: $prideGradient;
}

.navbar-start .navbar-item:hover {
    // offset for the border on hover:
    margin-top: 2px;
    background: transparent !important;
}

// End items
.navbar-end .icon { color: $black-bis; font-size: 1.75rem; }
.navbar-end .icon-search:hover { color: $link; }
.navbar-end .icon-facebook:hover { color: $facebook; }
.navbar-end .icon-twitter:hover { color: $twitter; }
.navbar-end .icon-rss:hover { color: $rss; }

// Responsive Navigation Adjustments:
@media only screen and (max-width: $navbar-breakpoint) {
    nav.navbar .navbar-item:hover {
        margin-top: 0px !important;
        border-bottom: none !important;
        border-image-source: none !important;
    }
}