body {
    font-family: $bodyFontStack;
    font-size: ms(1);
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headerFontStack;
}

h1 { 
    font-size: ms(7);
    font-weight: 700;
}
h2 {
    font-size: ms(6);
    font-weight: 700;
}
h3 {
    font-size: ms(5);
    font-weight: 600;
}
h4 {
    font-size: ms(4);
    font-weight: 600;
}
h5 {
    font-size: ms(3);
    font-weight: 600;
}
h6 {
    font-size: ms(1);
    text-transform: uppercase;
    font-weight: bold;
}

p {
    margin-bottom: ms(0);
}

// Other classes
.small {
    font-size: ms(-1);
}

.bigTitle {
    font-size: ms(10);
    font-weight: 700;
    color: $black;
    text-align: center;
    margin-bottom: ms(-6);
}