meter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    height: 20px;
}

meter::-webkit-meter-optimum-value {
    background: green;
}

meter::-webkit-meter-even-less-good-value {
    background: red;
}