// Headings:
h1 { font-size: ms(4); }
h2 { font-size: ms(2); }
h3 { font-size: ms(2); }

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    font-family: 'Fira Sans', sans-serif;
    color: $cyan;
}

h3 {
    margin-top: ms(-1);
}

// Paragraphs:
body {
    font-size: ms(1);
    font-weight: 400;
    font-family: 'Fira Sans', sans-serif;
    text-shadow: 1px 1px 1px $black;
}

p {
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: ms(2);
}

.column p:last-of-type{
    // padding-bottom: none;
}

// Lists
li {
    list-style-type: disc;
    margin-left: 2.5rem;
    line-height: 2.5rem;
}

// Special Classes:
.subtitle {
    font-size: ms(-1);
    margin-top: -0.5rem;
    color: $grey-light;
    padding: 0;
    margin-bottom: 0.5rem !important;
}